@theme {
    --color-primary: #6c44fc;
    --color-light: #fdf9f0;
    --color-dark-base: #141517;
    --color-dark: #1c1d20;
}

@theme {
    --breakpoint-xs: 375px;
    --breakpoint-md2: 896px;
}

.animated-cards::before {
    pointer-events: none;
    position: absolute;
    -webkit-user-select: none;
    user-select: none;
    border-radius: 1.5rem;
    opacity: 0;
    transition: opacity 0.3s;
    background: radial-gradient(
        1000px circle at var(--x) var(--y),
        #c9ee80 0,
        #eebbe2 10%,
        #adc0ec 25%,
        #c9ee80 35%,
        rgba(255, 255, 255, 0) 50%,
        transparent 80%
    );
    z-index: -1;
    content: '';
    inset: -1px;
}

.animated-cards:hover::before {
    opacity: 1;
}

.shadow-inset-right {
  position: relative;
  overflow: hidden;
}

.shadow-inset-right::after {
  content: "";
  position: absolute;
  top: 0;
  right: 0;
  width: 60px; /* slightly wider */
  height: 100%;
  pointer-events: none;
  background: linear-gradient(to left, rgba(10, 10, 10, 0.9), rgba(10, 10, 10, 0.6), transparent);
  z-index: 10;
}

.shadow-inset-left {
  position: relative;
  overflow: hidden;
}

.shadow-inset-left::after {
  content: "";
  position: absolute;
  top: 0;
  left: 0;
  width: 60px; /* slightly wider */
  height: 100%;
  pointer-events: none;
  background: linear-gradient(to right, rgba(10, 10, 10, 0.9), rgba(10, 10, 10, 0.6), transparent);
  z-index: 10;
}
